.easy-visitor-stats-dashboard canvas {
  margin-block: 1em;
}
.easy-visitor-stats-dashboard .chart-legend {
  font-size: .8em;
}
.easy-visitor-pie-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
  margin: 1em 0;
}
.easy-visitor-stats-dashboard h3 {
  font-size: 1em;
}
.chart-title {
  font-weight: bold;
}
.easy-visitor-pie-wrapper .chart-title {
  text-align: center;
}
.easy-visitor-pie-wrapper > div {
  min-width: 34%;
}
.easy-visitor-pie-wrapper .pie-chart-wrapper {
  display: table;
  margin: 0 auto;
}
@media (min-width: 62em) {
  .easy-visitor-pie-wrapper > div {
    min-width: 150px;
  }
}
.easy-visitor-top-ten .item-list ol {
  margin-inline-start: .5em;
  margin-bottom: 2em;
}
@media (min-width: 62em) {
  .easy-visitor-top-ten {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em;
    justify-content: space-around;
  }
  .easy-visitor-top-ten .item-list {
    min-width: 27em;
  }
}
.easy-visitor-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 3em;
  justify-content: space-around;
  margin: 1em 0 2em;
}
.easy-visitor-boxes .box {
  text-align: center;
}
.easy-visitor-boxes .box div {
  font-size: 2rem;
}
.chart-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 2em;
  justify-content: space-between;
  align-items: center;
}
.easy-visitor-stats-dashboard .form-type-select {
  margin: 0;
}
.legend-color-box {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-inline-end: .5em;
  vertical-align: middle;
}
.easy-visitor-stats-dashboard details {
  background: inherit;
  border: none;
  padding: 0;
}
.easy-visitor-stats-dashboard summary {
  float: inline-end;
}
.easy-visitor-stats-dashboard details .icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}
@media print {
  body {
    color: #000 !important;
    background: #fff !important;
    font-size: 12px !important;
    border: none;
  }
  a {
    color: #000 !important;
    text-decoration: none;
  }
  .l-header,
  .block {
    margin: 0;
    padding: 0 !important;
  }
  h1.page-title {
    font-size: 24px !important;
    line-height: 1;
    margin: 0 0 24px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  h2, h3,
  .chart-title {
    break-after: avoid-page;/* Not baseline! */
  }
  details summary {
    display: none !important;
  }
  ::details-content {
    content-visibility: visible;/* Not baseline yet! */
  }
  select {
    color: #000 !important;
    background: #fff !important;
    border: none !important;
    font-size: 12px !important;
  }
  nav,
  .tabs,
  .block-system-breadcrumb {
    display: none;
  }
  .container {
    margin: 0;
    padding: 0;
    max-width: none;
  }
  canvas {
    max-width: 100%;
    height: auto !important;
  }
  .easy-visitor-top-ten {
    display: block;
  }
}
