canvas.easy-visitor-stats-chart {
}
.easy-visitor-pie-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
  margin: 2em 0;
}
.easy-visitor-stats-dashboard h3 {
  font-size: 1em;
}
.chart-title {
  font-weight: bold;
  text-align: center;
}
.easy-visitor-history-wrapper .chart-title {
  text-align: initial;
}
.easy-visitor-top-ten {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 3em;
  justify-content: space-around;
}
.easy-visitor-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 3em;
  justify-content: space-around;
  margin: 2em 0;
}
.easy-visitor-boxes .box {
  text-align: center;
}
.easy-visitor-boxes .box div {
  font-size: 2rem;
}
.form-type-select {
  float: inline-end;
  margin: 0;
}
.legend-color-box {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-inline-end: .5em;
  vertical-align: middle;
}
